html {
    height: 100%;
  }
  body {
    color: #ecf0f3;
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: radial-gradient(rgb(83, 115, 83), rgb(0, 0, 0));
    letter-spacing: 2px;
  }
  
  .marks {
    color: whi;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(#000000,rgb(83, 115, 83));
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .marks .mark {
    position: relative;
  }
  
  .marks .mark input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline:invert;
    background: transparent;
    background-color:transparent;
  }
  
  .marks button:hover {
    background: radial-gradient(#000000,rgb(83, 115, 83));
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ecf0f3,
                0 0 25px #ecf0f3,
                0 0 50px #ecf0f3,
                0 0 100px #ecf0f3;
  }
  button{
    background: transparent;
    border: none;
   border-style: none;
    position:fixed;
    top: 88%;
    left: 0%;
    width: 800px;
    padding: 20px;
    letter-spacing: 10px;
  }